## Predict the safety of the car using decision tree

In [19]:
import numpy as np 
import pandas as pd

In [20]:
df = pd.read_csv('car_evaluation.csv')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [21]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [22]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [24]:
y = df.loc[: , 'class']

In [25]:
x = df.drop(['class'], axis = 1 )

In [26]:
x

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    med
1     vhigh  vhigh      2       2    small   high
2     vhigh  vhigh      2       2      med    low
3     vhigh  vhigh      2       2      med    med
4     vhigh  vhigh      2       2      med   high
...     ...    ...    ...     ...      ...    ...
1722    low    low  5more    more      med    med
1723    low    low  5more    more      med   high
1724    low    low  5more    more      big    low
1725    low    low  5more    more      big    med
1726    low    low  5more    more      big   high

[1727 rows x 6 columns]

In [28]:
features = pd.get_dummies(x, columns= ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
features

,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,doors_3,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,0,1
1,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,1,0,0
2,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
3,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
4,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
1723,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
1724,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,1,0
1725,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
1726,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,1,0,0

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, y, test_size=0.2)

In [30]:
from sklearn import tree 
clf = tree.DecisionTreeClassifier(max_depth = 6, min_samples_split=5 , min_samples_leaf=2)
clf.fit(X_train , y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=2, min_samples_split=5)

In [31]:
y_train_predict = clf.predict(X_train)
y_test_predict = clf.predict(X_test)
from sklearn.metrics import accuracy_score
train_acc= accuracy_score(y_train, y_train_predict)
test_acc= accuracy_score(y_test ,y_test_predict )

In [32]:
print('train accuracy = ' , train_acc)
print('test accuracy = ' , test_acc)

train accuracy =  0.8942795076031861
test accuracy =  0.8815028901734104